@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
main{
	width: 20%;
	margin: 0 auto;
	text-align: center;
}
div{
	margin-top: 3%;
	background-color: #9FC5F8;
	border: 2px solid black;
}
